@model IEnumerable<CategoryViewModel>

<div id="content">
    <h3>Categorias</h3>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                </tr>
            }
        </tbody>
    </table>

    <a id="add-category" class="btn btn-primary" asp-action="Create"> Adicionar </a>

</div>
