@model IEnumerable<CategoryViewModel>

<div id="content">
    <h3>Categorias</h3>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a> 
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a id="add-category" class="btn btn-primary" asp-action="Create"> Adicionar </a>

</div>
